.ui-content{"data-role" => "content", :role => "main"}
  %ul{"data-role" => "listview"}
    %li
      %h3 1. 省份
      %p 只针对先出分数，后填志愿的省份！
    %li
      %h3 2. 学校
      %p 同一学校对于不同省份要求的分数线是不一样的。
    %li
      %h3 3. 专业
      %p 专业千奇百怪，如何选择具有远景的专业，在一定程度上决定了你的职业！
  %p.pdv20
    首页数据相对真实数据要落后，为了更好地将选择学校与专业，请使用微博登录，并指定自己分数（分数不能修改）。