!!!
%html
  %head
    %title Gaokao
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div{"data-role" => "page", :id=>"one"}
      /
        %div{"data-role" => "header", "data-theme" => "a"}
          %a.ui-btn-right{"data-role" => "button", :href => "/users/new", }
            +
      %div{"data-role" => "content", :id=>"content"}
        = yield
      %div{"data-role" => "footer", "data-theme" => "a"}
        %div{"data-role" => "navbar"}
          %ul.apple-navbar-ui.comboSprite
            %li
              %a{:href => "/"} Home
            %li
              %a{:href => "/users", "data-url"=>"/users"} Users
            %li
              %a{:href => "#"} 登录